 @media  only screen and (max-width: 1280px){
    
    html, body{
        
       

    }


.logo{
	
	width:40%;
	float:left;
	padding:10px;
	
}

nav{
	
	width:60%;
	float:left;
	padding:20px;
    margin-top:13px;
	
}

nav a{
	
	font-size:110%;
	font-weight: bold;
	padding:13px;

}

#nav-check{
    
    display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{
	
	
	height:1200px;	
}



#author-name-title{
    position:relative;
	top:25%;
	left:15%;
	font-size:300%;
	color:white;
	font-family: 'Engravers MT', 'Bentham', serif;
	line-height: 1.5;
}

#author-name-apostrophe, #author-home-title-and{
	color:#ff66cc;
}


#title{
    
    padding-top:30px;
	padding-left:40px;
	font-size: 55%;
	
}

#intro{
	position: relative;
	width:55%;
	background-color:#3F474D;
	left:20%;
	top:35%;
	border: 2px solid #ff66cc;
	box-shadow:  5px 5px 15px 1px #ff66cc;
}




#home-intro-paragraph{
	
	color:white;
	font-size: 100%;
    text-align: center;
	line-height: 2;
	padding:50px;
	
   
	
}

#home-intro-paragraph a{
	text-decoration: none;
	color:#ff66cc;
}




/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
  
	height:1000px;
}
     
	#skills-heading-container{
    position: relative;
    text-align:center;
    top:20%;
    padding-top: 20px;
    
   
	}
#skills-bars-container{
    
    position: relative;
    left:20%;
    top:35%;
    
}

.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    
    padding-left: 43px;
}

#html-bar{
    
    width:360px;
    left:15%;
    top:6.5%;
  
}
     
.percentage{
    left:45%;
    
}

.css-title{
    padding-left:80px;
}

#css-bar{
    width:360px;
    left:15%;
    top:26%;
}

#javascript-bar{
    
    width:248px;
    left:15%;
    top:47%;
 
}

.javascript-percentage{
    
    left:36%;
}

#wordpress-bar{
   
    width:307px;
    left:15%;
    top:67%;
}
.wordpress-percentage{
    left:41%;
}



#photoshop-bar{
    
    width:330px;
    left:15%;
    top:87%;
}

.photoshop-percentage{
    left:42.5%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:1600px;
    
}
    #portfolio-heading{
        font-size: 200%;
        margin-bottom: 70px;
        padding-top:150px;
    }

.portfolio-sub-heading{
    font-size: 100%;
	margin-top: 10px;
	margin-bottom: 40px;
}

.portfolio-rows{
	padding-bottom: 80px;
}

.image-link-section{
   text-align: center;
    padding:20px;
    padding-bottom:40px;
	width:33.33%;
    margin: auto;
    
}
.img-responsive{
    padding: 15px;
    width:94%;
    margin: auto;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{
    
	height: 2000px;
	text-align: center;
	padding:100px;
    background-repeat:no-repeat;
	background-position:bottom;
	background-attachment: fixed;
	background-size: cover;
   
  
/*---------------Amy Parke Testimonial Section Style Start----------------------*/
}
.testimonial-heading{
    font-size:200%;
    text-align: center;
    margin-bottom:80px;
    letter-spacing: 10px;
    padding-top:100px;
    
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: none;
}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:300px;
	text-align: center;
	margin-bottom: 20px;
    padding:20px;
}
.testimonial-paragraph{
	line-height: 2;
    padding:20px;
    font-size: 90%;
     font-weight: 900;
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/


.form-container{

	width:90%;
	margin:auto;
	padding:20px;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    
	font-size: 200%;
	text-align: center;
    padding:20px;
    letter-spacing: 10px;
    padding-top:100px;
    
}

label{
	
	font-size: 150%;
}

input{
	font-size: 100%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
}

textarea{
	font-size: 200%;
}

input[type=submit]{
	
	font-size: 200%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/
}
@media  only screen and (max-width: 979px){
    


/*------------------------------------------------Header Contanier----------------------------------*/
  html, body{
        overflow-x: hidden;
    }
.logo{
	
	width:0%;
	float:left;
    
	
}
    nav {
        width: 90%
    }

.nav-btn > label{
            
            display:inline-block;
            float:right;
            height:50px;
            width:50px;
            padding-top:40px;
         

}
    
.nav-btn > label > span{
        display:block;
        float:right;
        width:40px;
        height:15px;
        margin-right: 20px;
        border-top: 7px solid #ff66cc;
        
    }
    nav a {
      
        display: block;
        position: absolute;
        left:0;
        transition: all 0.3s ease-in;
        top:22px;
        height: 0px;
        overflow-y:hidden;
      

    }
    
#nav-check:not(:checked) + nav a {
        display: none;
}
    
#nav-check:checked + nav a  {
         height:calc(100vh - 2000px);
         display:block;
          position: relative;
          overflow-x: hidden;
          float: right;
          width:100%;

    } 
    
#nav-check{
   display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{
	

	height:900px;
	background-repeat:no-repeat;
	background-position:top;
	background-attachment: fixed;
	background-size: cover;
    
	
}

#author-name-title{
	top:25%;
	left:35%;
	font-size:200%;
	color:white;
	font-family: 'Engravers MT', 'Bentham', serif;
	line-height: 1.5;
}

#author-name-apostrophe, #author-home-title-and{
	color:#ff66cc;
}


#title{
    
    padding-top:30px;
	padding-left:20px;
	font-size: 60%;
	
}

#intro{
	width:80%;
	left:15%;
	top:28%;
}


/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
    
    
	height:1000px;
	background-repeat:no-repeat;
	background-position:bottom;
	background-attachment: fixed;
	background-size: cover;
    padding-top: 100px;
  

}


#skills-heading-container{
    position: relative;
    text-align: center;
    top:15%;
}





#skills-bars-container{
    
    position: relative;
    left:10%;
    top:20%;
    
}

.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    padding-left: 40px;
}

#html-bar{
    
    width:400px;
    left:20%;
    top:6.5%;
  
}
.percentage{
    left:69%;
    
}

.css-title{
    padding-left:80px;
}

#css-bar{
    width:400px;
    left:20%;
    top:26%;
 
}

#javascript-bar{
    
    width:290px;
   
    left:20%;
    top:47%;
 
}

.javascript-percentage{
    
    left:55%;
}

#wordpress-bar{
   
    width:350px;
    left:20%;
    top:67%;
}
.wordpress-percentage{
    left:63%;
}



#photoshop-bar{
    
    width:380px;
    left:20%;
    top:87%;
}

.photoshop-percentage{
    left:66%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:1500px;
    
}
    #portfolio-heading{
        margin-bottom: 100px;
    }

.portfolio-sub-heading{
	 font-size: 140%;
	margin-top: 50px;
	margin-bottom: 40px;
}

.portfolio-rows{
	padding-bottom: 250px;
}

.image-link-section{
   text-align: center;
    padding-bottom:50px;
	width:33.33%;
}
.img-responsive{
    padding: 0px;
    width:90%;
	box-shadow: 1px 1px 9px 2px #ff66cc;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{
    
	height: 2050px;
	text-align: center;
	padding:100px;
    background-repeat:no-repeat;
	background-position:bottom;
	background-attachment: fixed;
	background-size: cover;
   
  
/*---------------Amy Parke Testimonial Section Style Start----------------------*/
}
.testimonial-heading{
    font-size:300%;
   text-align: center;
    margin-bottom:50px;
    letter-spacing: 10px
    
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: left;
}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:300px;
	text-align: center;
	margin-bottom: 20px;
    padding:20px;
}
.testimonial-paragraph{
	line-height: 2;
   padding:20px;
    font-size: 110%;
     font-weight: 900;
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/


.form-container{

	width:80%;
	margin:auto;
	padding:20px;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    
	font-size: 350%;
	text-align: center;
    padding:50px;
    letter-spacing: 10px;
    
}

label{
	
	font-size: 200%;
}

input{
	font-size: 250%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
}

textarea{
	font-size: 200%;
}

input[type=submit]{
	
	font-size: 200%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/
}
/*-----------------------------------------------------Media Query-----------------------------*/
@media  only screen and (max-width: 1024px){
    
    html, body{
        
       

    }


.logo{
	
	width:30%;
	float:left;
	padding:10px;
	
}

nav{
	
	width:70%;
	float:left;
	padding:20px;
    margin-top:13px;
	
}

nav a{
	
	font-size:90%;
	font-weight: bold;
	padding:13px;

}

#nav-check{
    
    display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{
	
	
	height:1200px;	
}



#author-name-title{
    position:relative;
	top:15%;
	left:15%;
	font-size:200%;
	color:white;
	font-family: 'Engravers MT', 'Bentham', serif;
	line-height: 1.5;
}

#author-name-apostrophe, #author-home-title-and{
	color:#ff66cc;
}


#title{
    
    padding-top:30px;
	padding-left:40px;
	font-size: 55%;
	
}

#intro{
	position: relative;
	width:80%;
	background-color:#3F474D;
	left:7%;
	top:23%;
	border: 2px solid #ff66cc;
	box-shadow:  5px 5px 15px 1px #ff66cc;
}




#home-intro-paragraph{
	
	color:white;
	font-size: 100%;
    text-align: center;
	line-height: 2;
	padding:50px;
	
   
	
}

#home-intro-paragraph a{
	text-decoration: none;
	color:#ff66cc;
}




/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
  
	height:1000px;
}
	#skills-heading-container{
    position: relative;
    text-align: center;
    top:20%;
    padding-top: 20px;
    
   
	}
#skills-bars-container{
    
    position: relative;
    left:15%;
    top:35%;
    
}

.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    padding-left: 60px;
}

#html-bar{
    
    width:360px;
    left:24%;
    top:6.5%;
  
}
.percentage{
    left:60%;
    
}

.css-title{
    padding-left:120px;
}

#css-bar{
    width:360px;
    left:24%;
    top:26%;
}

#javascript-bar{
    
    width:248px;
    left:24%;
    top:47%;
 
}

.javascript-percentage{
    
    left:50%;
}

#wordpress-bar{
   
    width:307px;
    left:24%;
    top:67%;
}
.wordpress-percentage{
    left:56%;
}



#photoshop-bar{
    
    width:325px;
    left:24%;
    top:87%;
}

.photoshop-percentage{
    left:57%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:1300px;
    
}
    #portfolio-heading{
        font-size: 200%;
        margin-bottom: 70px;
        padding-top:150px;
    }

.portfolio-sub-heading{
    font-size: 100%;
	margin-top: 10px;
	margin-bottom: 40px;
}

.portfolio-rows{
	padding-bottom: 80px;
}

.image-link-section{
   text-align: center;
    padding:20px;
    padding-bottom:40px;
	width:33.33%;
    margin: auto;
    
}
.img-responsive{
    padding: 15px;
    width:94%;
    margin: auto;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{
   
	height: 2500px;
	text-align: center;
	padding:100px;
    background-repeat:no-repeat;
	background-position:bottom;
	background-attachment: fixed;
	background-size: cover;
   
  
/*---------------Amy Parke Testimonial Section Style Start----------------------*/
}
.testimonial-heading{
    font-size:200%;
    text-align: center;
    margin-bottom:80px;
    letter-spacing: 10px;
    padding-top:100px;
    
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: none;
}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:300px;
	text-align: center;
	margin-bottom: 20px;
    padding:20px;
}
.testimonial-paragraph{
	line-height: 2;
    padding:20px;
    font-size: 90%;
     font-weight: 900;
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/


.form-container{

	width:90%;
	margin:auto;
	padding:20px;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    
	font-size: 200%;
	text-align: center;
    padding:20px;
    letter-spacing: 10px;
    padding-top:100px;
    
}

label{
	
	font-size: 150%;
}

input{
	font-size: 100%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
}

textarea{
	font-size: 200%;
}

input[type=submit]{
	
	font-size: 200%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/
}
@media  only screen and (max-width: 979px){
    


/*------------------------------------------------Header Contanier----------------------------------*/
  html, body{
        overflow-x: hidden;
    }
.logo{
	
	width:0%;
	float:left;
    
	
}
    nav {
        width: 90%
    }

.nav-btn > label{
            
            display:inline-block;
            float:right;
            height:50px;
            width:50px;
            padding-top:40px;
         

}
    
.nav-btn > label > span{
        display:block;
        float:right;
        width:40px;
        height:15px;
        margin-right: 20px;
        border-top: 7px solid #ff66cc;
        
    }
    nav a {
      
        display: block;
        position: absolute;
        left:0;
        transition: all 0.3s ease-in;
        top:22px;
        height: 0px;
        overflow-y:hidden;
      

    }
    
#nav-check:not(:checked) + nav a {
        display: none;
}
    
#nav-check:checked + nav a  {
         height:calc(100vh - 2000px);
         display:block;
          position: relative;
          overflow-x: hidden;
          float: right;
          width:100%;

    } 
    
#nav-check{
   display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{
	
	
	height:900px;
	background-repeat:no-repeat;
	background-position:top;
	background-attachment: fixed;
	background-size: cover;
    
	
}

#author-name-title{
	top:25%;
	left:35%;
	font-size:200%;
	color:white;
	font-family: 'Engravers MT', 'Bentham', serif;
	line-height: 1.5;
}

#author-name-apostrophe, #author-home-title-and{
	color:#ff66cc;
}


#title{
    
    padding-top:30px;
	padding-left:20px;
	font-size: 60%;
	
}

#intro{
	width:80%;
	left:15%;
	top:28%;
}


/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
    
    
	height:1000px;
	background-repeat:no-repeat;
	background-position:bottom;
	background-attachment: fixed;
	background-size: cover;
    padding-top: 100px;
  

}


#skills-heading-container{
    position: relative;
    text-align: center;
    top:15%;
}





#skills-bars-container{
    
    position: relative;
    left:10%;
    top:20%;
    
}

.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    padding-left: 40px;
}

#html-bar{
    
    width:400px;
    left:20%;
    top:6.5%;
  
}
.percentage{
    left:69%;
    
}

.css-title{
    padding-left:80px;
}

#css-bar{
    width:400px;
    left:20%;
    top:26%;
 
}

#javascript-bar{
    
    width:290px;
   
    left:20%;
    top:47%;
 
}

.javascript-percentage{
    
    left:55%;
}

#wordpress-bar{
   
    width:350px;
    left:20%;
    top:67%;
}
.wordpress-percentage{
    left:63%;
}



#photoshop-bar{
    
    width:380px;
    left:20%;
    top:87%;
}

.photoshop-percentage{
    left:66%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:1500px;
    
}
    #portfolio-heading{
        margin-bottom: 100px;
    }

.portfolio-sub-heading{
	 font-size: 140%;
	margin-top: 50px;
	margin-bottom: 40px;
}

.portfolio-rows{
	padding-bottom: 250px;
}

.image-link-section{
   text-align: center;
    padding-bottom:50px;
	width:33.33%;
}
.img-responsive{
    padding: 0px;
    width:90%;
	box-shadow: 1px 1px 9px 2px #ff66cc;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{

	height: 2050px;
	text-align: center;
	padding:100px;
    background-repeat:no-repeat;
	background-position:bottom;
	background-attachment: fixed;
	background-size: cover;
   
  
/*---------------Amy Parke Testimonial Section Style Start----------------------*/
}
.testimonial-heading{
    font-size:300%;
   text-align: center;
    margin-bottom:50px;
    letter-spacing: 10px
    
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: left;
}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:300px;
	text-align: center;
	margin-bottom: 20px;
    padding:20px;
}
.testimonial-paragraph{
	line-height: 2;
   padding:20px;
    font-size: 110%;
     font-weight: 900;
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/


.form-container{

	width:80%;
	margin:auto;
	padding:20px;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    
	font-size: 350%;
	text-align: center;
    padding:50px;
    letter-spacing: 10px;
    
}

label{
	
	font-size: 200%;
}

input{
	font-size: 250%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
}

textarea{
	font-size: 200%;
}

input[type=submit]{
	
	font-size: 200%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/
}
@media  only screen and (max-width: 768px){
    


/*------------------------------------------------Header Contanier----------------------------------*/
  html, body{
        overflow-x: hidden;
    }
.logo-img{
    
        width:50px;
        padding-top:0px;
}
    
    nav {
       padding:0;
    }

.nav-btn > label{
            
            display:inline-block;
            float:right;
            height:35px;
            width:60px;
            padding-top:15px;
         

}
    
.nav-btn > label > span{
        display:block;
        float:right;
        width:30px;
        height:10px;
        padding-bottom: 2px;
        margin-right: 25px;
        border-top:5px solid #ff66cc;
    
        
    }
    
    nav a {
      
        display: block;
        position: absolute;
        left:85%;
        transition: all 0.3s ease-in;
        top:-8px;
        height: 0px;
        overflow-y:hidden;
        padding:25px;
        font-size: 150%;
     
    }
#nav-home-tab{

	color:#999999;
}
    
#nav-check:not(:checked) + nav a {
        display: none;
}
    
#nav-check:checked + nav a  {
    
         height:(100vh-2000px);
         display:block;
          position: relative;
          overflow-x: hidden;
    
    } 
    
#nav-check{
   display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{
	
	
	height:1000px;
	background-repeat:no-repeat;
	background-position:top;
	background-attachment: fixed;
	background-size: cover;
    
	
}

#author-name-title{
	top:35%;
	left:15%;
	font-size:200%;
	color:white;
	font-family: 'Engravers MT', 'Bentham', serif;
	line-height: 1.5;
}

#author-name-apostrophe, #author-home-title-and{
	color:#ff66cc;
}


#title{
    
    padding-top:30px;
	padding-left:20px;
	font-size: 60%;
	
}

#intro{
	width:90%;
	left:5%;
	top:38%;
}


/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
  
	height:1000px;
}


.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    padding-left: 40px;
}

#html-bar{
    
    width:360px;
    left:22%;
    top:6.5%;
  
}
.percentage{
    left:71%;
    
}

.css-title{
    padding-left:80px;
}

#css-bar{
    width:360px;
    left:22%;
    top:26%;
}

#javascript-bar{
    
    width:248px;
    left:22%;
    top:47%;
 
}

.javascript-percentage{
    
    left:56%;
}

#wordpress-bar{
   
    width:307px;
    left:22%;
    top:67%;
}
.wordpress-percentage{
    left:64%;
}



#photoshop-bar{
    
    width:325px;
    left:22%;
    top:87%;
}

.photoshop-percentage{
    left:67%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:5500px;
    
}
    #portfolio-heading{
        font-size: 300%;
        margin-bottom: 70px;
        padding-top:100px;
    }

.portfolio-sub-heading{
	 font-size: 180%;
	margin-top: 10px;
	margin-bottom: 40px;
}

.portfolio-rows{
	padding-bottom: 80px;
}

.image-link-section{
   text-align: center;
    padding-bottom:40px;
	width:100%;
    float:none;
    margin: auto;
}
.img-responsive{
    padding: 20px;
    width:90%;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{
   
	height: 2400px;
	text-align: center;
	padding:100px;
    background-repeat:no-repeat;
	background-position:bottom;
	background-attachment: fixed;
	background-size: cover;
   
  
/*---------------Amy Parke Testimonial Section Style Start----------------------*/
}
.testimonial-heading{
    font-size:300%;
   text-align: center;
    margin-bottom:80px;
    letter-spacing: 10px;
      padding-top:100px;
    
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: none;
}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:300px;
	text-align: center;
	margin-bottom: 20px;
    padding:20px;
}
.testimonial-paragraph{
	line-height: 2;
    padding:20px;
    font-size: 110%;
     font-weight: 900;
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/


.form-container{

	width:90%;
	margin:auto;
	padding:20px;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    
	font-size: 300%;
	text-align: center;
    padding:20px;
    letter-spacing: 10px;
    padding-top:100px;
    
}

label{
	
	font-size: 200%;
}

input{
	font-size: 200%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
}

textarea{
	font-size: 200%;
}

input[type=submit]{
	
	font-size: 200%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/
}
@media  only screen and (max-width: 414px){
    


/*------------------------------------------------Header Contanier----------------------------------*/
 
    body{
        overflow-x: hidden;
    }

.logo-img{
    
        width:50px;
        padding-top:0px;
}
    
    nav {
       padding:0;
    }

.nav-btn > label{
            
            display:inline-block;
            float:right;
            height:30px;
            width:50px;
            padding-top:18px;
         

}
    
.nav-btn > label > span{
        display:block;
        float:right;
        width:25px;
        height:5px;
        padding-bottom: 5px;
        margin-right: 25px;
        border-top: 2px solid #ff66cc;
    
        
    }
    
    nav a {
      
        display: block;
        position: absolute;
        left:70%;
        transition: all 0.3s ease-in;
        top:-8px;
        height: 0px;
        overflow-y:hidden;
        padding:14px;
        font-size:95%;
		font-weight: bold;
     
    }
#nav-home-tab{

	color:#999999;
}
    
#nav-check:not(:checked) + nav a {
        display: none;
}
    
#nav-check:checked + nav a  {
    
         height:(100vh-2000px)S;
         display:block;
          position: relative;
          overflow-x: hidden;
    } 
    
#nav-check{
   display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{
	
	
	height:600px;
	background-repeat:no-repeat;
	background-position:top;
	background-attachment: fixed;
	background-size: cover;
    
	
}

#author-name-title{
	top:28%;
	left:10%;
	font-size:100%;
	color:white;
	font-family: 'Engravers MT', 'Bentham', serif;
	line-height: 1.5;
}


#title{
    
    padding-top:30px;
	padding-left:20px;
	font-size: 80%;
	
}

#intro{
	width:90%;
	left:5%;
	top:33%;
    font-size: 50%;
     box-shadow:  3px 3px 15px 1px #ff66cc;
}

#home-intro-paragraph{
	
	color:white;
	font-size: 150%;
    text-align: center;
	line-height: 2;
	padding:20px;
   
}
     #resume{
    
    padding: 10px;
    margin-bottom: 10px;
    width:150px;
    font-size: 110%;
}

/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
    
	height:500px;
    padding-top: 50px;
    transition: all 0.3s ease-in;
}


#skills-heading-container{
    position: relative;
    text-align: center;
    top:15%;
}
    
#skills-heading{
    font-size: 200%;
    letter-spacing: 20px;
    
}
    #love-coding{
	font-size: 90%;
    letter-spacing: 5px;
}

#skills-bars-container{
    font-size:50%;
    position: relative;
    left:1%;
    top:20%;
    
}

.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    padding-left: 28px;
}

#html-bar{
    height:15px;
    width:170px;
    left:28%;
    top:6.5%;
  
}
.percentage{
    left:71%;
    
}

.css-title{
    padding-left:48px;
}

#css-bar{
    
    height:15px;
    width:170px;
    left:28%;
    top:26%;
 
}
.javascript-title{
    padding-left:10px;
}

#javascript-bar{
    
    width:115px;
    height:15px;
    left:28%;
    top:47%;
 
}

.javascript-percentage{
    
    left:58%;
}

#wordpress-bar{
    height:15px;
    width:148px;
    left:28%;
    top:67%;
}
.wordpress-percentage{
    left:66%;
}



#photoshop-bar{
    height:15px;
    width:162px;
    left:28%;
    top:87%;
}

.photoshop-percentage{
    left:69%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:3220px;
    
}
    
#portfolio-heading{
        font-size:200%;
        margin-bottom: 70px;
        letter-spacing: 0;
        padding-top: 50px;
}

.portfolio-sub-heading{
	 font-size: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
    letter-spacing: 10px;
}

.portfolio-rows{
	padding-bottom: 10px;
}

.image-link-section{
   text-align: center;
    padding-bottom:30px;
	width:100%;
}
.img-responsive{
    padding: 0px;
    width:90%;
	box-shadow: 1px 1px 9px 2px #ff66cc;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{
   
	height: 2000px;
	text-align: center;
    margin: auto;
    padding:0px;
  }
/*---------------Amy Parke Testimonial Section Style Start----------------------*/

.testimonial-heading{
   font-size:180%;
    margin-bottom: 70px;
    letter-spacing: 0;
    padding-top: 90px; 
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: none;
    padding:20px;

}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:250px;
	text-align: center;
	margin-bottom: 20px;
    padding:0px;
}
.testimonial-paragraph{
	line-height: 1.3;
    padding:0px;
    font-size: 110%;
    font-weight: 900;
    width: 100%;
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/


.form-container{

	width:100%;
	margin:auto;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    
	font-size: 150%;
	text-align: center;
    letter-spacing: 1px;
    padding:10px;
     padding-top:100px;
}

label{
	
	font-size: 200%;
}

input{
	font-size: 200%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
}

textarea{
	font-size: 150%;
}

input[type=submit]{
	
	font-size: 150%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/

/*---------------------------Footer Section Start-------------------------------------*/
footer{
   
    position: relative;
    bottom:0;
    color:#ff66cc;
    background-color: #2b2c2e;
    text-align: center;

}

.fab {
    display: block;
    padding:25px;
    text-decoration: none;
    color:white;
    font-size: 150%;
    
    
}

.copy-rights {
    
    padding-bottom: 20px;
    font-size: 65%;
   
}
 
    

/*---------------------------Footer Section End------------------------------------*/

}

@media  only screen and (max-width: 375px){
    


/*------------------------------------------------Header Contanier----------------------------------*/
    html, body{
        overflow-x: hidden;
    }

.logo-img{
    
        width:50px;
        padding-top:0px;
}
    
    nav {
       padding:0;
    }

.nav-btn > label{
            
            display:inline-block;
            float:right;
            height:30px;
            width:50px;
            padding-top:15px;
         

}
    
.nav-btn > label > span{
        display:block;
        float:right;
        width:25px;
        height:5px;
        padding-bottom: 2px;
        margin-right: 25px;
        border-top: 2px solid #ff66cc;
    
        
    }
    
    nav a {
      
        display: block;
        position: absolute;
        left:75%;
        transition: all 0.3s ease-in;
        top:-8px;
        height: 0px;
        overflow-y:hidden;
        padding:14px;
        font-size: 90%;
     
    }
#nav-home-tab{

	color:#999999;
}
    
#nav-check:not(:checked) + nav a {
        display: none;
}
    
#nav-check:checked + nav a  {
    
         height:(100vh-2000px);
         display:block;
          position: relative;
          overflow-x: hidden;
    
    } 
    
#nav-check{
   display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{
	
	height:600px;
	
}

#author-name-title{
	top:28%;
	left:10%;
	font-size:100%;
	line-height: 1.5;
}


#title{
    
    padding-top:30px;
	padding-left:20px;
	font-size: 80%;
	
}

#intro{
	width:90%;
	left:5%;
	top:33%;
    font-size: 50%;
     box-shadow:  3px 3px 15px 1px #ff66cc;
}

#home-intro-paragraph{
	
	color:white;
	font-size: 150%;
    text-align: center;
	line-height: 2;
	padding:20px;
   
}
     #resume{
    
    padding: 10px;
    margin-bottom: 10px;
    width:150px;
    font-size: 110%;
}

/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
    
	height:500px;
    padding-top: 50px;
    transition: all 0.3s ease-in;
}


#skills-heading-container{
    position: relative;
    text-align: center;
    top:15%;
}
    
#skills-heading{
    font-size: 200%;
    letter-spacing: 20px;
    
}
    #love-coding{
	font-size: 90%;
    letter-spacing: 5px;
}

#skills-bars-container{
    font-size:50%;
    position: relative;
    left:1%;
    top:20%;
    
}

.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    padding-left: 28px;
}

#html-bar{
    height:15px;
    width:170px;
    left:28%;
    top:6.5%;
  
}
.percentage{
    left:75%;
    
}

.css-title{
    padding-left:48px;
}

#css-bar{
    
    height:15px;
    width:170px;
    left:28%;
    top:26%;
 
}
.javascript-title{
    padding-left:10px;
}

#javascript-bar{
    
    width:115px;
    height:15px;
    left:28%;
    top:47%;
 
}

.javascript-percentage{
    
    left:60%;
}

#wordpress-bar{
    height:15px;
    width:148px;
    left:28%;
    top:67%;
}
.wordpress-percentage{
    left:69%;
}



#photoshop-bar{
    height:15px;
    width:162px;
    left:28%;
    top:87%;
}

.photoshop-percentage{
    left:73%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:2950px;
    
}
    
#portfolio-heading{
        font-size:200%;
        margin-bottom: 70px;
        letter-spacing: 0;
        padding-top: 50px;
}

.portfolio-sub-heading{
	 font-size: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
    letter-spacing: 10px;
}

.portfolio-rows{
	padding-bottom: 20px;
}

.image-link-section{
   text-align: center;
    padding-bottom:30px;
	width:100%;
}
.img-responsive{
    padding: 0px;
    width:90%;
	box-shadow: 1px 1px 9px 2px #ff66cc;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{
   
	height: 2100px;
	text-align: center;
    margin: auto;
    padding:0px;
  }
/*---------------Amy Parke Testimonial Section Style Start----------------------*/

.testimonial-heading{
   font-size:180%;
    margin-bottom: 70px;
    letter-spacing: 0;
    padding-top: 50px; 
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: none;
    padding:20px;

}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:250px;
	text-align: center;
	margin-bottom: 20px;
    padding:0px;
}
.testimonial-paragraph{
	line-height: 1.3;
    padding:0px;
    font-size: 110%;
    font-weight: 900;
    width: 100%;
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/


.form-container{

	width:100%;
	margin:auto;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    
	font-size: 150%;
	text-align: center;
    letter-spacing: 1px;
    padding:10px;
     padding-top:100px;
}

label{
	
	font-size: 200%;
}

input{
	font-size: 200%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
}

textarea{
	font-size: 150%;
}

input[type=submit]{
	
	font-size: 150%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/

/*---------------------------Footer Section Start-------------------------------------*/
footer{
   
    position: relative;
    bottom:0;
    color:#ff66cc;
    background-color: #2b2c2e;
    text-align: center;

}

.fab {
    display: block;
    padding:25px;
    text-decoration: none;
    color:white;
    font-size: 150%;
    
    
}

.copy-rights {
    
    padding-bottom: 20px;
    font-size: 65%;
   
}
 
    

/*---------------------------Footer Section End------------------------------------*/

}

@media  only screen and (max-width : 360px ){
    


/*------------------------------------------------Header Contanier----------------------------------*/
html, body{
        overflow-x: hidden;
    }


.logo-img{
    
        width:60px;
        padding-top:0px;
}
    
    nav {
       padding:0;
    }

.nav-btn > label{
            
            display:inline-block;
            float:right;
            height:29px;
            width:50px;
            padding-top:20px;
         

}
    
.nav-btn > label > span{
        display:block;
        float:right;
        width:25px;
        height:5px;
        padding-bottom: 2px;
        margin-right: 25px;
        border-top: 2px solid #ff66cc;
    
        
    }
    
    nav a {
      
        display: block;
        position: absolute;
        left:70%;
        transition: all 0.3s ease-in;
        top:0px;
        height: 0px;
        overflow-y:hidden;
        padding:14px;
        font-size: 90%;
     
    }
#nav-home-tab{

	color:#999999;
}
    
#nav-check:not(:checked) + nav a {
        display: none;
}
    
#nav-check:checked + nav a  {
    
         height:(100vh-2000px);
         display:block;
          position: relative;
          overflow-x: hidden;
    
    } 
    
#nav-check{
   display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{

	height:700px;
}

#author-name-title{
	top:20%;
	left:10%;
	font-size:150%;
      text-transform: uppercase;
}


#title{
    
    padding-top:30px;
	padding-left:15px;
	font-size: 80%;
	
}

#intro{
	width:90%;
	left:5%;
	top:33%;
    font-size: 50%;
    box-shadow:  3px 3px 15px 1px #ff66cc;
}

#home-intro-paragraph{
	
	color:white;
	font-size: 150%;
    text-align: center;
	line-height: 2;
	padding:20px;
   
}
     #resume{
    
    padding: 10px;
    margin-bottom: 10px;
    width:150px;
    font-size: 110%;
}

/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
    
	height:800px;
/*    padding-top: 0px;*/
    transition: all 0.3s ease-in;
}


#skills-heading-container{
    position: relative;
    text-align: center;
    top:20%;
}
    
#skills-heading{
    font-size: 200%;
    letter-spacing: 20px;
    
    
}
    #love-coding{
	font-size: 90%;
    letter-spacing: 5px;
}

#skills-bars-container{
    font-size:50%;
    position: relative;
    left:1%;
    top:20%;
    
}

.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    padding-left: 20px;
}

#html-bar{
    height:15px;
    width:200px;
    left:25%;
    top:6.5%;
  
}
.percentage{
    left:85%;
    
}

.css-title{
    padding-left:35px;
}

#css-bar{
     height:15px;
    width:200px;
    left:25%;
    top:26%;
 
}
.javascript-title{
    padding-left:10px;
}

#javascript-bar{
    
    width:130px;
    height:15px;
    left:25%;
    top:47%;
 
}

.javascript-percentage{
    
    left:64%;
}

#wordpress-bar{
    height:15px;
    width:175px;
    left:25%;
    top:67%;
}
.wordpress-percentage{
    left:78%;
}



#photoshop-bar{
     height:15px;
    width:185px;
    left:25%;
    top:87%;
}

.photoshop-percentage{
    left:80%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:3200px;
    
    
}
    #portfolio-heading{
        font-size:180%;
        margin-bottom: 70px;
        letter-spacing: 0;
        padding-top: 100px;
    }

.portfolio-sub-heading{
	 font-size: 120%;
	margin-top: 50px;
	margin-bottom: 40px;
    letter-spacing: 10px;
}

.portfolio-rows{
	padding-bottom: 0px;
}

.image-link-section{
   text-align: center;
    padding-bottom:50px;
	width:100%;
}
.img-responsive{
    padding: 0px;
    width:90%;
	box-shadow: 1px 1px 9px 2px #ff66cc;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{
/*    background-image: url(../images/miltos-bottis-612219-unsplash-mobile.jpg);*/
	height: 2400px;
	text-align: center;
    margin: auto;
    padding-top:0px;
  }
/*---------------Amy Parke Testimonial Section Style Start----------------------*/

.testimonial-heading{
    text-transform: uppercase;
   font-size:180%;
    margin-bottom: 70px;
    letter-spacing: 0;
    padding-top: 100px; 
    font-family: 'Engravers MT', 'Bentham', serif;
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: none;
    padding:20px;

}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:250px;
	text-align: center;
	margin-bottom: 20px;
    padding:0px;
}
.testimonial-paragraph{
	line-height: 1.3;
    padding:0px;
    font-size: 110%;
    font-weight: 900;
    width: 100%;
    text-align: center;
    
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/

#contact{

	height:1000px;
	
}
.form-container{

	width:100%;
	margin:auto;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    text-transform: uppercase;
	font-size: 200%;
	text-align: center;
    letter-spacing: 1px;
    padding:10px;
    padding-top:100px;
    font-family: 'Engravers MT', 'Bentham', serif;
}

label{
	
	font-size: 200%;
}

input{
	font-size: 250%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
    
}

textarea{
	font-size: 200%;
}

input[type=submit]{
	
	font-size: 150%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/

/*---------------------------Footer Section Start-------------------------------------*/
footer{
   
    position: relative;
    bottom:0;
    color:#ff66cc;
    background-color: #2b2c2e;
    text-align: center;

}

.fab {
    display: block;
    padding:25px;
    text-decoration: none;
    color:white;
    font-size: 150%;
    
    
}

.copy-rights {
    
    padding-bottom: 20px;
    font-size: 60%;
   
}
 
    
}
/*---------------------------Footer Section End------------------------------------*/
@media  only screen and (max-width: 320px){
    


/*------------------------------------------------Header Contanier----------------------------------*/
    html, body{
        overflow-x: hidden;
    }

.logo-img{
    
        width:50px;
        padding-top:0px;
}
    
    nav {
       padding:0;
    }

.nav-btn > label{
            
            display:inline-block;
            float:right;
            height:30px;
            width:50px;
            padding-top:15px;
         

}
    
.nav-btn > label > span{
        display:block;
        float:right;
        width:25px;
        height:5px;
        padding-bottom: 2px;
        margin-right: 25px;
        border-top: 2px solid #ff66cc;
    
        
    }
    
    nav a {
      
        display: block;
        position: absolute;
        left:64%;
        transition: all 0.3s ease-in;
        top:-8px;
        height: 0px;
        overflow-y:hidden;
        padding:14px;
        font-size: 90%;
     
    }
#nav-home-tab{

	color:#999999;
}
    
#nav-check:not(:checked) + nav a {
        display: none;
}
    
#nav-check:checked + nav a  {
    
         height:(100vh-2000px);
         display:block;
          position: relative;
          overflow-x: hidden;
    
    } 
    
#nav-check{
   display:none;
    
}
/*-----------------------------Header Contanier End--------------------------------------------------*/
/*-----------------------------------Home Section Styles---------------------------------------------*/
#home{

	height:600px;

}

#author-name-title{
	top:28%;
	left:10%;
	font-size:110%;
	line-height: 1.5;
}


#title{
    
    padding-top:30px;
	padding-left:20px;
	font-size: 70%;
	
}

#intro{
	width:90%;
	left:5%;
	top:33%;
    font-size: 50%;
     box-shadow:  3px 3px 15px 1px #ff66cc;
}

#home-intro-paragraph{
	
	color:white;
	font-size: 150%;
    text-align: center;
	line-height: 2;
	padding:20px;
   
}
     #resume{
    
    padding: 10px;
    margin-bottom: 10px;
    width:150px;
    font-size: 110%;
}

/*-----------------------------------------------------Home Section Styles End--------------------------*/

/*--------------------------------------Skills Section Styles------------------------*/
#skills{
    
	height:500px;
    padding-top: 50px;
    transition: all 0.3s ease-in;
}


#skills-heading-container{
    position: relative;
    text-align: center;
    top:15%;
}
    
#skills-heading{
    font-size: 200%;
    letter-spacing: 20px;
    
}
    #love-coding{
	font-size: 90%;
    letter-spacing: 5px;
}

#skills-bars-container{
    font-size:50%;
    position: relative;
    left:1%;
    top:20%;
    
}

.skills-bars, .skills-title{
    
    padding:10px;
    top:30%;
}

.html-title{
    padding-left: 28px;
}

#html-bar{
    height:15px;
    width:170px;
    left:30%;
    top:6.5%;
  
}
.percentage{
    left:85%;
    
}

.css-title{
    padding-left:48px;
}

#css-bar{
    
    height:15px;
    width:170px;
    left:30%;
    top:26%;
 
}
.javascript-title{
    padding-left:10px;
}

#javascript-bar{
    
    width:110px;
    height:15px;
    left:30%;
    top:47%;
 
}

.javascript-percentage{
    
    left:66%;
}

#wordpress-bar{
    height:15px;
    width:148px;
    left:30%;
    top:67%;
}
.wordpress-percentage{
    left:78%;
}



#photoshop-bar{
     height:15px;
    width:162px;
    left:30%;
    top:87%;
}

.photoshop-percentage{
    left:82%;
}



/*--------------------------------------Skills Section Styles End---------------------------*/
/*--------------------------------------Portfolio Section Styles----------------------------*/
#portfolio{
    
	height:2300px;
    
}
    
#portfolio-heading{
        font-size:200%;
        margin-bottom: 70px;
        letter-spacing: 0;
        padding-top: 50px;
}

.portfolio-sub-heading{
	 font-size: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
    letter-spacing: 10px;
}

.portfolio-rows{
	padding-bottom: 0px;
}

.image-link-section{
   text-align: center;
    padding-bottom:30px;
	width:100%;
}
.img-responsive{
    padding: 0px;
    width:90%;
	box-shadow: 1px 1px 9px 2px #ff66cc;
}

/*--------------------------------------Portfolio Section Styles End----------------------------*/
/*--------------------------------------Testimonial Section Styles Start----------------------------*/
#testimonial{
   
	height: 2200px;
	text-align: center;
    margin: auto;
    padding:0px;
  }
/*---------------Amy Parke Testimonial Section Style Start----------------------*/

.testimonial-heading{
   font-size:180%;
    margin-bottom: 70px;
    letter-spacing: 0;
    padding-top: 50px; 
}
.testimonial-AmyParke,
.testimonial-John-Lee,
.testmonial-Khan-Sajjad{
	width:100%;
    float: none;
    padding:20px;

}
.testimonial-image{
	border-radius: 50%;
    border:solid 10px #ff66cc;
	width:250px;
	text-align: center;
	margin-bottom: 20px;
    padding:0px;
}
.testimonial-paragraph{
	line-height: 1.3;
    padding:0px;
    font-size: 110%;
    font-weight: 900;
    width: 100%;
    
}
.testimonial-paragraph a{
    text-decoration: none;
    color: #ff66cc;
   
}
/*---------------Amy Parke Testimonial Section Style End------------------*/

/*--------------------------------------Testimonial Section Styles End----------------------------*/
/*---------------------------------------Contact Section Styles Start---------------------*/


.form-container{

	width:100%;
	margin:auto;
	border-radius:10px;
	color: white;
	text-align: center;
}

.form-header{
    
	font-size: 150%;
	text-align: center;
    letter-spacing: 1px;
    padding:10px;
     padding-top:100px;
}

label{
	
	font-size: 200%;
}

input{
	font-size: 200%;
	width:100%;
	margin-bottom:40px;
	border-radius:8px;
}

textarea{
	font-size: 150%;
}

input[type=submit]{
	
	font-size: 150%;
	
}

/*---------------------------------------Contact Section Styles End--------------------*/

/*---------------------------Footer Section Start-------------------------------------*/
footer{
   
    position: relative;
    border-bottom:0;
    color:#ff66cc;
    background-color: #2b2c2e;
    text-align: center;

}

.fab {
    display: block;
    padding:25px;
    text-decoration: none;
    color:white;
    font-size: 150%;
    
    
}

.copy-rights {
    
    padding-bottom: 20px;
    font-size: 65%;
   
}
 
    

/*---------------------------Footer Section End------------------------------------*/

}
